body {
    background-color: #33658A;
}

/* Container elements */
.container {
    margin-top: 20px;
}

.container h1 {
    margin-bottom: 20px;
}

.container div {
    margin-top: auto;
    margin-bottom: auto;
}

/* Navigation elements */
.navbar {
    background-color: #F6AE2D !important;

}

.navbar-brand {
   pointer-events: none;
   cursor: default;
}

.nav-link:hover {
    text-decoration: underline !important;
}

/* File list elements */

.card {
    background-color: #86BBD8;
}

.card-body button {
    margin: 0.25rem 0.125rem;
}
