{% extends "characters/base.html" %}

{% block body %}
    <div class="container">
        <h1>
            Collections
            <a href="{% url 'fetch' %}">
                <button type="button" class="btn btn-success">Fetch</button>
            </a>
        </h1>
        <!-- TODO - table of links to file content -->
        {% for file in files %}
            <p>{{ file.filename }}</p>
        {% empty %}
        <p>No files generated yet!</p>
        {% endfor %}
    </div>
{% endblock %}