{% extends "characters/base.html" %}

{% block body %}
    <div class="container">
        <h1>
            Collections
            <a href="{% url 'fetch' %}">
                <button type="button" class="btn btn-success">Fetch</button>
            </a>
        </h1>
        {% for file in files %}
            <div class="card mb-3">
              <div class="row no-gutters justify-content-start">
                  <div class="col-md-3 align-self-center text-center">
                      <p>{{ file.filename }}</p>
                  </div>
                  <div class="col-md-9">
                      <div class="card-body">
                          <a href="{% url 'download_file' file.id %}">
                              <button type="button" class="btn btn-outline-success">Download</button>
                          </a>
                      </div>
                  </div>
              </div>
            </div>
        {% empty %}
            <div class="card mb-3">
              <div class="row no-gutters justify-content-start">
                  <div class="col-md-12">
                      <div class="card-body">
                          <p>No file generated yet. Let's <a href="{% url 'fetch' %}"> fetch</a> one!</p>
                      </div>
                  </div>
              </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}